@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.box {
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(167, 167, 50);
    border-radius: 5px;
    height: 140px;
    width: 100px;
    margin: 100px auto;
    padding: 10px;
}